@model EFTN.Models.InwardTransactionList

@{
    ViewBag.Title = "StartAllInward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row" style="padding-top:10px; text-align:center">
       <h4> Inward Transaction Detail</h4>
    </div>
        <hr />
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="panel panel-primary list-panel" id="list-panel" style="min-height:300px;">
                        <div class="panel-body">
                            @{
                                Html.RenderAction("_ShowInwardBBInfoDetail", "Inward");
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary list-panel" id="list-panel" style="min-height:300px;">
                        <div class="panel-body">
                            @{
                                Html.RenderAction("_ShowInwardCBSInfoDetail", "Inward");
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" style="text-align:right;">
                        <button class="btn btn-primary" type="submit" title="Procced" name="btnSelectRole">Save And Exit</button>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownList("RejectReasonCode", new SelectList(ViewBag.CodeLookUpList, "RejectReasonCode", "RejectReason", "R76"), new { @class = "select-css" })
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" type="submit" title="Procced" name="btnSelectRole">Save And Next</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
